{% extends 'navbar.html' %}
{% block title %}
  Agregar Producto
{% endblock title %}
{% block content %}
  <!DOCTYPE html>
  <html>
    <head>
    </head>
    <body>
      <h2>Nuevo producto</h2>
      <div class="col-sm-10">
        {% if success %}
          <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Producto agregado con éxito</strong> ¡Revísalo en la pestaña de inicio!.
          </div>
        {% endif %}
        <form action="agregarproducto" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <h5> Agregar nuevo producto al catálogo</h5>
          <div class="row">
            <br>
            <div class="col-sm-6 form-group">
              <p>Nombre producto: </p><input class="form-control" id="nombre" name="nombre" placeholder="Nombre Producto" type="text" required>
              <p>Valor: </p><input class="form-control" id="nombre" name="valor" placeholder="$ valor en CLP" type="number" required>
              <p>Color: </p><div class="form-group">
              <select name="color">
                <option value=1>Rojo</option>
                <option value=2>Azul</option>
                <option value=3>Amarillo</option>
                <option value=4>Verde</option>
                <option value=5>Blanco</option>
                <option value=6>Negro</option>
                <option value=7>Otro</option>
              </select>
            </div>
              <p>Tipo: </p><div class="form-group">
              <select name="tipo">
                <option value=1>Crop Top</option>
                <option value=2>Gorro</option>
                <option value=3>Bufanda</option>
                <option value=4>Otro</option>
              </select>
            </div>
            
            <p>Stock: </p><input class="form-control" id="nombre" name="stock" placeholder="Stock" type="number" required>
            <div class="form-group">
              <label for="exampleFile">Foto</label>
              <input type="file" name="foto" class="form-control-file" id="exampleFile">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 form-group">
            <button class="btn btn-primary" type="submit">Enviar</button>
          </div>
        </div>
      </div>
    </form>
  </body>
</html>
{% endblock content %}