{% extends 'navbar.html' %}
{% block title %}
Carro de compras
{% endblock title %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h3>Datos del comprador</h3>
        <form action="carrito" method="POST">
          {% csrf_token %}
          <label for="fname"><i class="fa fa-user"></i> Nombre</label>
          <input type="text" id="fname" name="nombre" placeholder="Nombre" required>
          <label for="email"><i class="fa fa-envelope"></i> Email</label>
          <input type="text" id="email" name="correo" placeholder="e-mail" required>
          <label for="city"><i class="fa fa-institution" required></i> Ciudad</label>
          <input type="text" id="city" name="ciudad" placeholder="Ciudad">
          <input type="hidden" name="carro" value={{carro.pk}}>
          <input type="hidden" name="productos" value={{productos}}>
          <input type="hidden" name="valor" value={{valor}}>

          <br><br>
          <p><input type="submit" class="btn btn-primary" value="Finalizar" name="agregar"></p>
        </form>
      </div>
      <div class="col-sm-6">
        <h3>Productos</h3>
        <table class="table table-image">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Imagen</th>
              <th scope="col">Producto</th>
              <th scope="col">Color</th>
              <th scope="col">Precio</th>
              <th scope="col"> </th>
            </tr>
          </thead>
          <tbody>
            {%for p in productos %}
            <tr>
              <th scope="row">1</th>
              <td class="w-25">
                <img src="{{p.foto.url}}" alt="Crop Top manga caida" class="img-fluid img-thumbnail" width="100" height="50">
              </td>
              <td>{{p.nombre}}</td>
              <td>{{p.get_color_display}}</td>
              <td>{{p.valor}}</td>
              <form action="borrarencarrito" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="producto" value={{p.pk}}>
                <input type="hidden" name="carro" value={{carro.pk}}>
                <td><input type="submit" value="X" name="borrar"></td>
              </form>
            </tr>
            {% endfor%}
            <tr>
              <th scope="row"></th>
              <td class="w-25">
                Total:
              </td>
              <td></td>
              <td> </td>
              <td></td>
              <td>{{valor}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      Los envíos a regiones se realizarán con envío por pagar.
    </div>
  </div>
</body>

</html>
{% endblock content %}