{% extends 'navbar.html' %}
{% block title %}
Contacto
{% endblock title %}
{% block content %}

<div class="container-fluid bg-grey">
  <h2 class="text-center">Contáctame</h2>
  <div class="row">
    <div class="col-sm-2">
      <p></p>
    </div>
    <div class="col-sm-3">
      <p>
        <h3>Valentina Garrido.</h3>
      </p>
      <p><span class="glyphicon glyphicon-map-marker"></span> Santiago, Chile</p>
      <p><span class="glyphicon glyphicon-phone"></span> +56981369778</p>
      <p><span class="glyphicon glyphicon-envelope"></span> tejidosvali@gmail.com</p>
      <p><a href="https://www.instagram.com/tejidosvali" target="_blank"><i class="fa fa-instagram"></i></a> @tejidosvali</p>
    </div>
    <div class="col-sm-5">
      {% if success %}
      <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{nombre}}, tu envío fue exitoso</strong> Serás contactado/a a la brevedad.
      </div>
      {% endif %}
      <h5> ¿Quieres algo que no está en el catálogo? Te contactaré.</h5>
      <div class="row">
        <br>
        <form action="contacto" method="POST">
          {% csrf_token %}
          <div class="col-sm-6 form-group">
            <input class="form-control" id="nombre" name="nombre" placeholder="Nombre" type="text" required>
          </div>
          <div class="col-sm-6 form-group">
            <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
          </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Mensaje" rows="5"></textarea><br>
      <div>
        <p> ¿No sabes como describirlo? ¡Adjunta una imagen de referencia!</p>
        <input class="form.control" type="file" size="50" id="5d702e063c362" name="archivos[]">
      </div>
      <br>
      <div class="row">
        <div class="col-sm-8 form-group">
          <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
      </div>
      </form>
    </div>
    <div class="col-sm-2">
      <p></p>
    </div>
  </div>
</div>
{% endblock content %}