{% extends 'navbar.html' %}
{% block title %}
Inicio
{% endblock title %}
{% block content %}
<div class="container-fluid text-center bg-grey">
  {% if nombre %}
  <div class="alert alert-success alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Bienvenide {{nombre}} </strong>
  </div>
  {% endif %}
  {% if producto %}
  <div class="alert alert-success alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Producto Agregado</strong> <a href=/carrito> ver carrito </a> </div> {% endif %} <h2>Productos </h2><br>
      <h4></h4>
      <!-- Control buttons -->
      <div id="myBtnContainer">
        <button class="btn active" onclick="filterSelection('all')"> Todo</button>
        <button class="btn" onclick="filterSelection('1')"> Crop Tops</button>
        <button class="btn" onclick="filterSelection('2')"> Gorros </button>
        <button class="btn" onclick="filterSelection('3')"> Bufandas</button>
        <button class="btn" onclick="filterSelection('4')"> Otros</button>
      </div>
      <br>
      <!-- The filterable elements. Note that some have multiple class names (this can be used if they belong to multiple categories) -->
      <div class="container">
        <div class="row">
          {%for p in productos%}
          <div class="col-sm-4">
            <div class="filterDiv {{p.tipo}}">
              <p><img src="{{p.foto.url}}" alt="Gorros" width="350" height="250"></p>
              <p><strong>{{p.nombre}}</strong></p>
              <p>{{p.valor}} c/u</p>
              <p>{{p.stock}}</p>
              <form action="" method="POST">
                {% csrf_token %}
                <p><input type="submit" value="Agregar" name="agregar"></p>
              </form>
            </div>
          </div>
          
          {% endfor %}
          
         
          
        </div>
      </div>

      {% endblock content %}