{% extends 'navbar.html' %}
{% block title %}
  Mensajes
{% endblock title %}
{% block content %}
  <div class="container">
    <h3> Mensajes recibidos</h3>
    <table class="table table-image">
      <thead>
        <tr>
          <th scope="col">Mensaje</th>
          <th scope="col">Imagen</th>
          <th scope="col">Cliente</th>
          <th scope="col"> </th>
        </tr>
      </thead>
      <tbody>
        {% for m in mensajes %}
          <tr>
            <th scope="row">{{m.mensaje}}</th>
            <td class="w-15">
              {% if m.foto %}
              <img src="{{m.foto.url}}" alt="Crop Top manga caida" class="img-fluid img-thumbnail" width="100" height="50">
              {% endif %}
            </td>
            <td>{{m.nombre}}<br>
            {{m.correo}}
            {{m.pk}}</td>
            <form action="borrarmensaje" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <input type="hidden" name="mensaje" value={{m.pk}}>
              <td><input type="submit" value="X" name="borrar"></td>
            </form>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}