{% extends 'navbar.html' %}
{% block title %}
  Novedades
{% endblock title %}
{% block content %}
  <!DOCTYPE html>
  <html>
    <head>
    </head>
    <body>
      <h2>Novedades</h2>
      <div class="container">
        <div class="row">
          {% for n in novedades %}
            <div class="col-sm-6" style="background-color:grey;">
              <h3><strong> {{n.titulo}} </strong></strong>
              <p>{{n.cuerpo}}</p>
            </div>
          {% endfor %}
        </div>
      </div>
    </body>
  </html>
{% endblock content %}