{% extends 'navbar.html' %}
{% block title %}
Novedades
{% endblock title %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
</head>

<body>
  <h2>Novedades</h2>
   <div class="container">
   <div class="row">
    <div class="col-sm-6" style="background-color:grey;">
      <h3><strong> SOLO POR HOY </strong></strong>
      <p>'Todos los crop-tops con 5% de descuento!</p>
    </div>
    <div class="col-sm-6" >
      <h3><strong> SEPTIEMBRE </strong></strong>
      <p>2x1 en todos los gorros</p>
    </div>
  </div>
</div> 
</body>

</html>
{% endblock content %}