{% extends 'navbar.html' %}
{% block title %}
Nueva publicación
{% endblock title %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
</head>

<body>
  <h2>Nueva publicación</h2>
  <div class="col-sm-10">
    {% if success %}
    <div class="alert alert-success alert-dismissible">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Publicación agregada con éxito</strong> ¡Revísalo en la pestaña de novedades!.
    </div>
    {% endif %}
    <form action="agregarpublicacion" method="POST">
      {% csrf_token %}
      <h5> Agregar nueva publicación</h5>
      <div class="row">
        <br>
        <div class="col-sm-6 form-group">
          <p>Título: </p><input class="form-control" id="nombre" name="título" placeholder="Título" type="text" required>
          <p>
            
            <p>Cuerpo: </p>
            <textarea class="form-control" id="comments" name="comments" placeholder="Cuerpo de la noticia" rows="5"></textarea>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <button class="btn btn-primary" type="submit">Enviar</button>
        </div>
      </div>
    </form>
  </div>
</body>

</html>
{% endblock content %}