{% extends 'navbar.html' %}
{% block title %}
Inicio
{% endblock title %}
{% block content %}
<div class="container-fluid text-center bg-grey">
  {% if nombre %}
   <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Bienvenide {{nombre}} </strong> 
      </div>
  {% endif %}
  {% if producto %}
      <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Producto Agregado</strong> <a href=/carrito> ver carrito </a>
      </div>
      {% endif %}
  <h2>Productos </h2><br>
  <h4></h4>
  <!-- Control buttons -->
  <div id="myBtnContainer">
    <button class="btn active" onclick="filterSelection('all')"> Todo</button>
    <button class="btn" onclick="filterSelection('CropTops')"> Crop Tops</button>
    <button class="btn" onclick="filterSelection('Gorros')"> Gorros </button>
    <button class="btn" onclick="filterSelection('Bufandas')"> Bufandas</button>
    <button class="btn" onclick="filterSelection('Otros')"> Otros</button>
  </div>
  <br>
  <!-- The filterable elements. Note that some have multiple class names (this can be used if they belong to multiple categories) -->
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="filterDiv Gorros">
          <p><img src="static/images/foto1.jpg" alt="Gorros" width="350" height="250"></p>
          <p><strong>Gorros</strong></p>
          <p>$2.000 c/u</p>
          <p>Disponible</p>
          <form action="" method="POST">
          {% csrf_token %}
          <p><input type="submit" value="Agregar" name= "agregar"></p>
        </form>
        </div>
      </div>
    
      <div class="col-sm-4">
        <div class="filterDiv CropTops">
          <p><img src="static/images/foto2.jpg" alt="Crop Top manga caida" width="350" height="250"></p>
          <p><strong>Crop Top manga caida</strong></p>
          <p>$7.000</p>
          <p>Disponible</p>
          <form action="" method="POST">
          {% csrf_token %}
          <p><input type="submit" value="Agregar" name= "agregar"></p>
        </form>
        </div>
      </div>
      
      <div class="col-sm-4">
        <div class="filterDiv CropTops">
          <p><img src="static/images/foto3.jpg" alt="San Francisco" width="350" height="250"></p>
          <p><strong>Crop Top</strong></p>
          <p>$5.000</p>
          <p>Agotado</p>
          
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}